<%= form_for(@profile, url: profile_path(@profile), html: { method: :put }) do |f| %>
  <div class="field">
    <% if @profile.picture %>
      <%= image_tag("https://s3.amazonaws.com/#{@bucket}/#{@profile.picture.path}", :alt=> 'pic') %>
    <% end %>
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>

  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
